[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/cvscvs
[access "refs/for/refs/*"]
	read = group user/cvscvs
	push = group user/cvscvs
	label-Code-Review = -2..+2 group user/cvscvs
	label-Verified = -1..+1 group user/cvscvs
	rebase = group user/cvscvs
	removeReviewer = group user/cvscvs
	submit = group user/cvscvs
[access "refs/heads/*"]
	read = group user/cvscvs
	create = group user/cvscvs
	push = +force group user/cvscvs
	pushMerge = group user/cvscvs
[access "refs/tags/*"]
	push = group user/cvscvs
	push = +force group user/cvscvs
